body {
  background-color: black;
}

header {
  font-size: 2rem;

  a {
    text-decoration: none;
    color: #d02192;
  }

  a:hover {
    text-decoration: none;
    color: #2721d0;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

// Linear loader
@keyframes circle-color-1 {
  0% {background: #216aa1}
  25% {background: #8a2ad0}
  50% {background: #dd3ba6}
  75% {background: #de3241}
  100% {background: #dec136}
}

@keyframes circle-color-2 {
  0% {background: #dec136}
  25% {background: #216aa1}
  50% {background: #8a2ad0}
  75% {background: #dd3ba6}
  100% {background: #de3241}
}

@keyframes circle-color-3 {
  0% {background: #de3241}
  25% {background: #dec136}
  50% {background: #216aa1}
  75% {background: #8a2ad0}
  100% {background: #dd3ba6}
}

@keyframes circle-color-4 {
  0% {background: #dd3ba6}
  25% {background: #de3241}
  50% {background: #dec136}
  75% {background: #216aa1}
  100% {background: #8a2ad0}
}

@keyframes circle-color-5 {
  0% {background: #8a2ad0}
  25% {background: #dd3ba6}
  50% {background: #de3241}
  75% {background: #dec136}
  100% {background: #216aa1}
}

.linear-loader {
  display: inline-flex;
  position: relative;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation-delay: calc((var(--index) - 5) * 0.25s);
}

.circle-1 {
  animation: circle-color-1 2s infinite;
}

.circle-2 {
  animation: circle-color-2 2s infinite;
}

.circle-3 {
  animation: circle-color-3 2s infinite;
}

.circle-4 {
  animation: circle-color-4 2s infinite;
}

.circle-5 {
  animation: circle-color-5 2s infinite;
}

// Box Loader
@keyframes box-1 {
  0% {right: 0; bottom: 0; background: #ff5900;}
  25% {right: 50px; bottom: 0; background: #fffb00;}
  50% {right: 0; bottom: 0; background: #11ff00;}
  75% {right: 0; bottom: 50px; background: #001aff;}
  100% {right: 0; bottom: 0; background: #a600ff;}
}

@keyframes box-2 {
  0% {left: 0; top: 0; background: #a600ff;}
  25% {left: 50px; top: 0; background: #ff5900;}
  50% {left: 0; top: 0; background: #fffb00;}
  75% {left: 0; top: 50px; background: #11ff00;}
  100% {left: 0; top: 0; background: #001aff;}
}

.box-loader {
  display: inline-flex;
  position: relative;

  .box {
    width: 50px;
    height: 50px;
  }

  .box-1 {
    position: relative;
    animation: box-1 4s infinite;
  }

  .box-2 {
    position: relative;
    animation-direction:alternate;
    animation: box-2 4s infinite;
  }
}

// Circle loader
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    border: 8px solid;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #2cc7d6 transparent transparent transparent;
  }

  .item-1 {
    animation-delay: -0.45s;
  }

  .item-2 {
    animation-delay: -0.3s;
  }

  .item-3 {
    animation-delay: -0.15s;
  }

  .item-4 {
    animation-delay: 0s;
  }
}


