body {
  background-color: black;
}

// Loader 1
.circle-shaped-container div {
  border-radius:50%;
  height:2px; width:2px; /* To allow border-radius to work */
  position:absolute;
  top:50%; left:50%;
  margin-top:-1px; margin-left:-1px;
  box-shadow:
          -30px -50px 0 15px #6cce74,
          30px -50px 0 15px #c18d46,
          60px    0px 0 15px #c14745,
          30px  50px 0 15px #2e1e5b,
          -30px  50px 0 15px #9c37a6,
          -60px    0px 0 15px #76bdd1;
  animation:rotate 12s infinite linear;
}

@keyframes rotate {
  16.67% {
    box-shadow:
            -30px -50px 0 15px #76bdd1,
            30px -50px 0 15px #6cce74,
            60px    0px 0 15px #c18d46,
            30px  50px 0 15px #c14745,
            -30px  50px 0 15px #2e1e5b,
            -60px    0px 0 15px #9c37a6;
  }
  33.33%   {
    box-shadow:
            -30px -50px 0 15px #9c37a6,
            30px -50px 0 15px #76bdd1,
            60px    0px 0 15px #6cce74,
            30px  50px 0 15px #c18d46,
            -30px  50px 0 15px #c14745,
            -60px    0px 0 15px #2e1e5b;
  }
  50%      {
    box-shadow:
            -30px -50px 0 15px #2e1e5b,
            30px -50px 0 15px #9c37a6,
            60px    0px 0 15px #76bdd1,
            30px  50px 0 15px #6cce74,
            -30px  50px 0 15px #c18d46,
            -60px    0px 0 15px #c14745;
  }
  66.67%   {
    box-shadow:
            -30px -50px 0 15px #c14745,
            30px -50px 0 15px #2e1e5b,
            60px    0px 0 15px #9c37a6,
            30px  50px 0 15px #76bdd1,
            -30px  50px 0 15px #6cce74,
            -60px    0px 0 15px #c18d46;
  }
  88.88%   {
    box-shadow:
            -30px -50px 0 15px #c18d46,
            30px -50px 0 15px #c14745,
            60px    0px 0 15px #2e1e5b,
            30px  50px 0 15px #9c37a6,
            -30px  50px 0 15px #76bdd1,
            -60px    0px 0 15px #6cce74;
  }
  100% {
    transform:rotate(-360deg);
    box-shadow:
            -30px -50px 0 15px #6cce74,
            30px -50px 0 15px #c18d46,
            60px    0px 0 15px #c14745,
            30px  50px 0 15px #2e1e5b,
            -30px  50px 0 15px #9c37a6,
            -60px    0px 0 15px #76bdd1;
  }
}
@-webkit-keyframes rotate {
  16.67% {
    box-shadow:
            -30px -50px 0 15px #76bdd1,
            30px -50px 0 15px #6cce74,
            60px    0px 0 15px #c18d46,
            30px  50px 0 15px #c14745,
            -30px  50px 0 15px #2e1e5b,
            -60px    0px 0 15px #9c37a6;
  }
  33.33%   {
    box-shadow:
            -30px -50px 0 15px #9c37a6,
            30px -50px 0 15px #76bdd1,
            60px    0px 0 15px #6cce74,
            30px  50px 0 15px #c18d46,
            -30px  50px 0 15px #c14745,
            -60px    0px 0 15px #2e1e5b;
  }
  50%      {
    box-shadow:
            -30px -50px 0 15px #2e1e5b,
            30px -50px 0 15px #9c37a6,
            60px    0px 0 15px #76bdd1,
            30px  50px 0 15px #6cce74,
            -30px  50px 0 15px #c18d46,
            -60px    0px 0 15px #c14745;
  }
  66.67%   {
    box-shadow:
            -30px -50px 0 15px #c14745,
            30px -50px 0 15px #2e1e5b,
            60px    0px 0 15px #9c37a6,
            30px  50px 0 15px #76bdd1,
            -30px  50px 0 15px #6cce74,
            -60px    0px 0 15px #c18d46;
  }
  88.88%   {
    box-shadow:
            -30px -50px 0 15px #c18d46,
            30px -50px 0 15px #c14745,
            60px    0px 0 15px #2e1e5b,
            30px  50px 0 15px #9c37a6,
            -30px  50px 0 15px #76bdd1,
            -60px    0px 0 15px #6cce74;
  }
  100% {
    -webkit-transform:rotate(-360deg);
    box-shadow:
            -30px -50px 0 15px #6cce74,
            30px -50px 0 15px #c18d46,
            60px    0px 0 15px #c14745,
            30px  50px 0 15px #2e1e5b,
            -30px  50px 0 15px #9c37a6,
            -60px    0px 0 15px #76bdd1;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

// Loader 2
//@keyframes colored-box {
//  0% {left: 0;}
//  25% {left: 25px;}
//  50% {left: -25px;}
//  75% {right: 25px;}
//  100% {right: -25px}
//}

@keyframes circle-color-1 {
  0% {background: #216aa1}
  25% {background: #8a2ad0}
  50% {background: #dd3ba6}
  75% {background: #de3241}
  100% {background: #dec136}
}

@keyframes circle-color-2 {
  0% {background: #dec136}
  25% {background: #216aa1}
  50% {background: #8a2ad0}
  75% {background: #dd3ba6}
  100% {background: #de3241}
}

@keyframes circle-color-3 {
  0% {background: #de3241}
  25% {background: #dec136}
  50% {background: #216aa1}
  75% {background: #8a2ad0}
  100% {background: #dd3ba6}
}

@keyframes circle-color-4 {
  0% {background: #dd3ba6}
  25% {background: #de3241}
  50% {background: #dec136}
  75% {background: #216aa1}
  100% {background: #8a2ad0}
}

@keyframes circle-color-5 {
  0% {background: #8a2ad0}
  25% {background: #dd3ba6}
  50% {background: #de3241}
  75% {background: #dec136}
  100% {background: #216aa1}
}

.linear-loader {
  display: inline-flex;
  position: relative;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation-delay: calc((var(--index) - 5) * 0.25s);
}

.circle-1 {
  animation: circle-color-1 2s infinite;
}

.circle-2 {
  animation: circle-color-2 2s infinite;
}

.circle-3 {
  animation: circle-color-3 2s infinite;
}

.circle-4 {
  animation: circle-color-4 2s infinite;
}

.circle-5 {
  animation: circle-color-5 2s infinite;
}
